<footer class="conteiner d-flex  row footer-gl align-content-end" style="background-color:#9ca058;">
    <div class="conteiner col-9 d-flex flex-row">
        <div class="col-3 rounder-circle ms-3 mt-1 mb-1 footer-h ">
                
                <a href=""><img src="https://i.ibb.co/B4nCDQ4/580b57fcd9996e24bc43c543pnnggwarap.png" alt="580b57fcd9996e24bc43c543pnnggwarap" >Whatsapp</a>
                
        </div>
            <div class="col-3 rounder-circle ms-3 mt-1 mb-1 footer-h ">
                
                <a href="https://instagram.com/beeralabama?igshid=YmMyMTA2M2Y=" target="blank" ><img src="https://i.ibb.co/B3X5yF9/580b57fcd9996e24bc43c521pnginsta.png" alt="580b57fcd9996e24bc43c521pnginsta" >Instagram</a>
                
            </div>
    </div>
                <div class="conteiner text-white col-3 footer-gl d-flex justify-content-end pe-6">
                    <p> 
                        <h7>
                        -Alabama Beer-&#169
                        </h7>
                    </p>
                </div>
</footer>
