
<header class="container-fluid p-3 bg1" style="background-color: #ffffff;">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="logo">
                <a href="/"><img class="img-logo rounder-circle ms-3 mt-1 mb-1" src="https://i.ibb.co/0BYD2pF/779f255b-a947-4cc1-9abe-e6f9ee1f51db.jpg" class="img-fluid" alt="alabama"></a>
                </div>
            </div>
            <div class="col">
                {{> navbar}}
            </div>
        </div>
    </div>
</header>
