<div class="container">
    <div class="text-center m-5">
        <hr>
        <font face="Comic Sans">
            <h1 style="color: rgb(0, 0, 0);">{{titulo}}</h1>
        </font>
        <hr>
    </div>

    <div class="menu-h">
<center>
    <img src="https://i.ibb.co/fCNYCkx/menubebidas-page-001.jpg" class="img-fluid rounded mx-auto d-block" alt="menubebidas-page-001" >
</center>
<center>
    <img src="https://i.ibb.co/cgpVrZJ/menubebidapagina2.jpg" class="img-fluid rounded mx-auto d-block" alt="menubebidapagina2" >
</center>
<center>
    <img src="https://i.ibb.co/zZjWD7q/menubebida-page-003.jpg" class="img-fluid rounded mx-auto d-block" alt="menubebida-page-003">
</center>
<center>
    <img src="https://i.ibb.co/nP0b8Wv/menubebida-page-004.jpg" class="img-fluid rounded mx-auto d-block" alt="menubebida-page-004">
</center>
<center>
    <img src="https://i.ibb.co/JQNBLZQ/menubebida-page-005.jpg" class="img-fluid rounded mx-auto d-block" alt="menubebida-page-005">
</center>
<center>
    <img src="https://i.ibb.co/NLSY0Sg/menubebidapage-006.jpg" class="img-fluid rounded mx-auto d-block" alt="menubebidapage-006">
</center>
<center>
    <img src="https://i.ibb.co/bHsmtSW/menubebida-page-007.jpg" class="img-fluid rounded mx-auto d-block" alt="menubebida-page-007">
</center>
<center>
    <img src="https://i.ibb.co/bWX1Zv0/menubebidapage-008.jpg" class="img-fluid rounded mx-auto d-block" alt="menubebidapage-008">
</center>
<center>
    <img src="https://i.ibb.co/frQFH7K/menubebida-page-009.jpg" class="img-fluid rounded mx-auto d-block" alt="menubebida-page-009" class="ultima2-h">
</center>
    </div>  
