


<div class="container text-center  p-2 text-dark ">
    <h1>{{titulo}}</h1>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://i.ibb.co/Ttwty0R/birracanillaa.jpg" alt="birracanillaa"  class="img-fluid rounded mx-auto d-block" >
            </div>
            <div class="carousel-item">
                <img src="https://i.ibb.co/fHGk22k/aperoll.jpg" alt="aperoll"  class="img-fluid rounded mx-auto d-block">
            </div>
            <div class="carousel-item">
                <img src="https://i.ibb.co/Z179cXB/rabassss.jpg" alt="rabassss"  class="img-fluid rounded mx-auto d-block" >
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
</div>

<div class="container text-center  p-2 text-dark ">
    <hr>

    <h2 class="nosotros-h2">
        Nosotros
    </h2>
    
    <hr>
</div>
    
    <div class="container-fluid parrafo-h">
        <section>
            <p class="text-center "><br><br>
                Somos una familia que despues de tanto pensar y analizar decidio arriesgarse a colocar un bar,<br> <br> 
                primeramente era algo familiar al cual acudian amigos y familiares que con mucho entuciasmo  <br> <br> 
                comenzaron a decir que la comida y lo que estabamos haciendo con nuestro proyecto era muy bueno,<br> <br> 
                asi decidimos lanzarnos luego de un año a algo mas grande, a pesar de las dificultades y gracias al apoyo <br> <br> 
                de muchas personas hoy en dia tenemos dos sucursales de este hermoso emprendimiento familiar <br> <br> 
                de las cuales estamos muy orgullosos y contentos de que la gente lo disfrute. <br> <br> 
            </p>
            <h4 class="text-center fw-bolder">"ALABAMA MAIPU"</h4>
            <div>
                <img src="https://i.ibb.co/tJHKfQb/alabamamaipu.jpg" class="img-fluid rounded mx-auto d-block" alt="alabamamaipu" >
            </div><br>
            <h4 class="text-center fw-bolder">"ALABAMA PARQUE"</h4>
            <div>
                <img src="https://i.ibb.co/gVt30FT/alabamaparque.jpg" class="img-fluid rounded mx-auto d-block"  alt="alabamaparque" >
            </div>
        </section>
    </div>