<div class="container">
    <div class="text-center m-5">
        <hr>
        <font face="Comic Sans">
            <h1 style="color: rgb(0, 0, 0);">{{titulo}}</h1>
        </font>
        <hr>
    </div>


    <div class="menu-h">
<center>
    <img src="https://i.ibb.co/CV9j4Gz/0012menu.jpg" class="img-fluid rounded mx-auto d-block" alt="0012menu" >
</center>
<center>
    <img src="https://i.ibb.co/RbcQtvM/menudigital-page-002.jpg" class="img-fluid rounded mx-auto d-block" alt="menudigital-page-002" >
</center>
<center>
    <img src="https://i.ibb.co/sF57MB8/menudigital-page-003.jpg" class="img-fluid rounded mx-auto d-block" alt="0012menu2" >
</center>
<center>
    <img src="https://i.ibb.co/WWJT1nk/menudigital-page-004.jpg" class="img-fluid rounded mx-auto d-block" alt="0012menu1" >
</center>
<center>
    <img src="https://i.ibb.co/fFq1B1g/menudigital-page-005.jpg" class="img-fluid rounded mx-auto d-block" alt="menudigital-page-005">
</center>
<center>
    <img src="https://i.ibb.co/ckKB6YY/menudigital-page-006.jpg" class="img-fluid rounded mx-auto d-block" alt="menudigital-page-006" class="ultima-h">
</center>
    </div>  



