* {
    font-family: 'Raleway' , sans-serif;
}

.nosotros-h2 {
    text-transform: uppercase;
    font-family: 'Raleway' , sans-serif;
    font-weight: 900;
}

body{
    background-color: rgb(242, 242, 242);
}


.img-logo {
    width: 96px
}

.footer-h{
    margin-top: 10px;
    margin-left: 10px;
    
}

.ultima-h {
    margin-bottom: 10px;
}

.ultima2-h{
    margin-bottom: 10px;
}

.parrafo-h {
    
    background-color: bisque;
    margin-bottom: 10px;
}

